.flat-card {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  margin: 8px;
}

.flat-card-info {
  background: #ebebeb;
  padding: 8px;
}

.flat-card-actions {
  padding: 8px;
}

.flat-card h2 {
  font-size: 24px;
}
